/* extra features: semi-transparent validators, favicon, small white text, fixed validators */
body{
    background-image: url("https://webster.cs.washington.edu/images/moviebg.png");
    font: 10px Ariel, Helvetica, sans-serif;
}

#banner{
    display: block;
    float: none;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#top{
    background-image: url("https://webster.cs.washington.edu/images/rancidbannerbg.png");
    background-repeat: repeat-x;
}

h1 {
    font: 24pt Georgia, "Times New Roman", serif;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
    text-align: center;
}

#main{
    background-image: url("https://webster.cs.washington.edu/images/rottenlargebg.png");
    background-repeat: repeat-x;
    width: 800px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    margin: auto;
}

#rightside {
    float: right;
    width: 250px;
    background-color: #A2B964;
    border-top-right-radius: 20px;
}

#generaloverviewphoto{
    border-top-right-radius: 20px;
}

#overviews {
    padding-left: 10pt;
    padding-right: 10pt;
    font: 10pt Arial, Helvetica, sans-serif;
}

dt{
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}

dd{
    text-align: left;
    padding-left: 10px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

#largerotten{
    float: left;
    height: 83px;
    border-top-left-radius: 20px;
}


#leftbanner {
    font-size: 8px;
    color: white;
    font-weight: normal;
    text-align: left;
    border-top-left-radius: 20px;
    height: 83px;
}

span{
    font-size: 48pt;
    color: red;
    font-weight: bold;
}

#reviews{
    padding: 10px;
    background-color: #EEEEEE;
    clear: left;
    column-count: 2;
    column-gap: 11px;
    column-width: 258px;
    height: 980px;
}

.rotten, .fresh {
    float: left;
    margin-right: 8px;
    overflow: hidden;
}

.quote {
    background-color: #FFFFFF;
    border: 2px solid #cccccc;
    border-radius: 20px;
    padding: 8px;
    font-family: Georgia, "Times New Roman", Serif;
    height: fit-content;
    overflow: hidden;
}


.critic{
    text-align: left;
    clear: bottom;
}


#pagenumbers {
    clear: none;
    background-color: #A2B964;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#validators{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    }

#v1, #v2{
    opacity: 0.5;
}

#v1:hover, #v2:hover{
    opacity: 1.0;
}
